#block-3.block_05
	.container
		.block__descript.block_05__descript
			h3.block__descript__title.block_4__box__title
				span.block__descript__title__top.descript__title_top  Наши работы
				span.block__descript__title__botton.descript__title_botton ПОРТФОЛИО
	.block_05__container_img
				img.img__apaptive(src="img/nashi_rabotu.png")
	.block_05__container
		.container
			h2.container__descript Понравился проект и хотите себе 
				br
				| похожий LP ?
			.container__botton
				+btn('botton  white__hover botton__red red','botton__red_textColor','ЗАКАЗАТЬ')