#block-4.block_06
	.container.block_06__box
		.block__descript.block_06_descript
			h3.block__descript__title 
				span.block__descript__title__top.block_06_top  Стоимость
				span.block__descript__title__botton наших услуг
	.container
		.row.block__6_flex
			.lg-11.block__6_price.price
				.row.price__box
					.lg-4.price__descript.descript
						p.descript__title Эконом пакет
							ul.descript__item
								li.descript__price_text Индивидуальный дизайн
								li.descript__price_text Кроссбраузерная верстка
									br
									| &nbsp;&nbsp; и программирование
								li.descript__price_text Установка сайта на хостинг
									br
									| &nbsp;&nbsp; и подключение домена
								li.descript__price_text Хостинг и домен на год
								li.descript__price_text Cтоимость - 4400грн.
						.box__item.item.descript__botton
							+btn('botton  red__hover  descript__botton botton__prise','item__botton_textColor','заказать')
							

					.lg-4.price__descript.descript
						p.descript__title Стандарт пакет
							ul.descript__item
								li.descript__price_text Индивидуальный дизайн
								li.descript__price_text Кроссбраузерная верстка
									br
									| &nbsp;&nbsp; и программирование
								li.descript__price_text Настройка Yandex Direct
								li.descript__price_text Настройка Google Adwords
								li.descript__price_text Бесплатное ведение Yandex Direct
									br
									| &nbsp;&nbsp; и Google Adwords
								li.descript__price_text Установка сайта на хостинг
									br
									| &nbsp;&nbsp; и подключение домена
								li.descript__price_text Хостинг и домен на год
								li.descript__price_text Cтоимость - 6900грн.
						.box__item.item.descript__botton
							+btn('botton  red__hover  descript__botton botton__prise','item__botton_textColor','заказать')