.block_07
	.container
		.block__descript.block_07__descript
			h3.block__descript__title.block_4__box__title.block_7__title
				span.block__descript__title__top.descript__title_top  Дополнительные
				span.block__descript__title__botton.descript__title_botton услуги
	.block_7__container.container
		.row.block__7_flex
			//.lg-3.flex__item.block__7_item
				.item__border.border
					p.border__title ВЕДЕНИЕ СОЦ СЕТИ
					ul.border__list.list
						li.border__list_text vk
						li.border__list_text instagram
						li.border__list_text facebook
			//.lg-3.flex__item.block__7_item
				.item__border.border
					p.border__title ВИДЕОСЪЕМКА
					ul.border__list.list
						li.border__list_text от 30 сек - ... грн
						li.border__list_text от 60 сек - ... грн
						li.border__list_text от 120 сек - ... грн
						li.border__list_text от 180 сек - ... грн
			.lg-3.flex__item.block__7_item
				.item__border.border
					p.border__title КОПИРАЙТИНГ
					ul.border__list.list
						li.border__list_text Cоставление
							br
							| семантического ядра,
							br
							| подбор ключевых слов
						li.border__list_text 1000 символов - 65грн.
			.lg-3.flex__item.block__7_item
				.item__border.border
					p.border__title КОНТЕКСТНАЯ 
						br 
						| РЕКЛАМА
					ul.border__list.list
						li.border__list_text Настройка Яндекс директ
							br
							| Cтоимость - 1250грн.
						li.border__list_text Настройка Google Adwords
							br
							| Cтоимость - 1250грн.
			.lg-3.flex__item.block__7_item
				.item__border.border
					p.border__title SEO УСЛУГА
					ul.border__list.list
						li.border__list_text Вывод в топ-10
							br
							| по ключевым запросам,
							br
							| срок вывода 4-6 месяцев
						li.border__list_text Стоимость - 5000грн. в месяц
