.block_03
	.block_03__container
		.container.block_03__box
			.block__descript.block_03__box__container
				h3.block__descript__title.block_03__box__container__title
					span.block__descript__title__top  Почему стоит
					span.block__descript__title__botton заказать у нас?
			.row.block_03__box__container__descript
				.lg-4
					.row.block_03__box__container__item
						.lg-3.block_03__box__container__item__icon
							i.my__fonts.pochemy_mu_analiz

						.lg-8.block_03__box__container__item__content
							p Анализ

							span Мы используем кроссбраузерную
								br 
								| и адаптивную верстку, независимо
								br 
								| от браузера, размера мониора
								br
								|и скорости интернета 

				.lg-4
					.row.block_03__box__container__item
						.lg-3.block_03__box__container__item__icon
							i.my__fonts.pochemy_mu_prototip

						.lg-8.block_03__box__container__item__content
							p Прототипирование

							span Мы используем кроссбраузерную
								br
								| и адаптивную верстку, независимо
								br 
								| от браузера, размера мониора
								br
								| и скорости интернета

				.lg-4
					.row.block_03__box__container__it
						.lg-3.block_03__box__container__item__icon
							i.my__fonts.pochemy_mu_dizayn

						.lg-8.block_03__box__container__item__content
							p Современный дизайн

							span Мы используем кроссбраузерную
								br
								| и адаптивную верстку, независимо
								br 
								| от браузера, размера мониора
								br 
								| и скорости интернета

				.lg-4
					.row.block_03__box__container__item
						.lg-3.block_03__box__container__item__icon
							i.my__fonts.pochemy_mu_adaptive

						.lg-8.block_03__box__container__item__content
							p Адаптивная верстка

							span Только трендовые направления,
								br
								| удобный, понятный интерфейс
								br 
								| и навигация

				.lg-4
					.row.block_03__box__container__item
						.lg-3.block_03__box__container__item__icon
							i.my__fonts.pochemy_mu_reclama

						.lg-8.block_03__box__container__item__content
							p Реклама

							span Только трендовые направления,
								br
								| удобный, понятный интерфейс
								br 
								| и навигация


				.lg-4
					.row.block_03__box__container__item
						.lg-3.block_03__box__container__item__icon
							i.my__fonts.pochemy_mu_seo

						.lg-8.block_03__box__container__item__content
							p SEO

							span Только трендовые направления,
								br
								| удобный, понятный интерфейс
								br 
								| и навигация
