#block-2.block_04
	.container.block_4__box
		.block__descript
			h3.block__descript__title.block_4__box__title
				span.block__descript__title__top  Как мы
				span.block__descript__title__botton РАБОТАЕМ?
	.block_04__hover__box.hover__box
		.row.hover__flex.flex
			.lg-2.flex__item
				.flex__item_hover.triangle-bottom
					h4.item__decript.decript
						span.decript__first_head.decript__title_head Анализ бизнеса 
							br
							| клиента
						span.decript__first_num.decript__title_num 1
				.box__item.item
					+btn('botton  red__hover item__botton','item__botton_textColor','подробнее')
			.lg-2.flex__item
				.flex__item_hover.triangle-top
					h4.item__decript.decript
						span.decript__last_num.decript__title_num 2
						span.decript__last_head.decript__title_head Создание 
							br
							| прототипа
				.box__item.item
					+btn('botton  red__hover item__botton','item__botton_textColor','подробнее')
			.lg-2.flex__item
				.flex__item_hover.triangle-bottom
					h4.item__decript.decript
						span.decript__first_head.decript__title_head Создание
							br
							| дизайна
						span.decript__first_num.decript__title_num 3
				.box__item.item
					+btn('botton  red__hover item__botton','item__botton_textColor','подробнее')
			.lg-2.flex__item
				.flex__item_hover.triangle-top
					h4.item__decript.decript
						span.decript__last_num.decript__title_num 4
						span.decript__last_head.decript__title_head Верстка и 
							br
							| программинг
				.box__item.item
					+btn('botton  red__hover item__botton','item__botton_textColor','подробнее')
			.lg-2.flex__item
				.flex__item_hover.triangle-bottom
					h4.item__decript.decript
						span.decript__first_head.decript__title_head Утверждение 
							br
							| проекта
						span.decript__first_num.decript__title_num 5
				.box__item.item
					+btn('botton  red__hover item__botton','item__botton_textColor','подробнее')