#block-5.block_08
	.container
		.block__descript.block_03__box__container
			h3.block__descript__title.block_03__box__container__title.block_8_container
				span.block__descript__title__top.block_8_top  Отзывы
				span.block__descript__title__botton.block_8_botton наших клиентов
		.row.block_8__flex_box
			.lg-11
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.row.block_8_flex
								.lg-3.flex__img
									img.flex__img_user(src="img/img_user.png" alt="")
									p.flex__user Михаил Потапович
										span.flex__user_time 12.10.2017
								.lg-7.flex__context
									p Прохлада и чистота утреннего пустого купе, голые полки, блестящий пластик вагонных стен — и никого. Ночного монаха, четками петита, нонпарелью молитвы отгонявшего дьявольский образ греха, пуще смерти боявшегося тебя и меня, нас, обнявшихся бестий, приняла в свое лоно праведная, непорочная станция зари.
										br
										| Лишь сизый почтовый голубь смятой газеты, весь в перышках фиолетовых линий, зигзагов, крестиков и кружков, остался лежать на непомерно длинном белом столе.

						.swiper-slide
							.row.block_8_flex
								.lg-3.flex__img
									img.flex__img_user(src="img/img_user.png" alt="")
									p.flex__user Михаил Потапович
										span.flex__user_time 12.10.2017
								.lg-7.flex__context
									p Прохлада и чистота утреннего пустого купе, голые полки, блестящий пластик вагонных стен — и никого. Ночного монаха, четками петита, нонпарелью молитвы отгонявшего дьявольский образ греха, пуще смерти боявшегося тебя и меня, нас, обнявшихся бестий, приняла в свое лоно праведная, непорочная станция зари.
										br
										| Лишь сизый почтовый голубь смятой газеты, весь в перышках фиолетовых линий, зигзагов, крестиков и кружков, остался лежать на непомерно длинном белом столе.

						.swiper-slide
							.row.block_8_flex
								.lg-3.flex__img
									img.flex__img_user(src="img/img_user.png" alt="")
									p.flex__user Михаил Потапович
										span.flex__user_time 12.10.2017
								.lg-7.flex__context
									p Прохлада и чистота утреннего пустого купе, голые полки, блестящий пластик вагонных стен — и никого. Ночного монаха, четками петита, нонпарелью молитвы отгонявшего дьявольский образ греха, пуще смерти боявшегося тебя и меня, нас, обнявшихся бестий, приняла в свое лоно праведная, непорочная станция зари.
										br
										| Лишь сизый почтовый голубь смятой газеты, весь в перышках фиолетовых линий, зигзагов, крестиков и кружков, остался лежать на непомерно длинном белом столе.

						.swiper-slide
							.row.block_8_flex
								.lg-3.flex__img
									img.flex__img_user(src="img/img_user.png" alt="")
									p.flex__user Михаил Потапович
										span.flex__user_time 12.10.2017
								.lg-7.flex__context
									p Прохлада и чистота утреннего пустого купе, голые полки, блестящий пластик вагонных стен — и никого. Ночного монаха, четками петита, нонпарелью молитвы отгонявшего дьявольский образ греха, пуще смерти боявшегося тебя и меня, нас, обнявшихся бестий, приняла в свое лоно праведная, непорочная станция зари.
										br
										| Лишь сизый почтовый голубь смятой газеты, весь в перышках фиолетовых линий, зигзагов, крестиков и кружков, остался лежать на непомерно длинном белом столе.

						.swiper-slide
							.row.block_8_flex
								.lg-3.flex__img
									img.flex__img_user(src="img/img_user.png" alt="")
									p.flex__user Михаил Потапович
										span.flex__user_time 12.10.2017
								.lg-7.flex__context
									p Прохлада и чистота утреннего пустого купе, голые полки, блестящий пластик вагонных стен — и никого. Ночного монаха, четками петита, нонпарелью молитвы отгонявшего дьявольский образ греха, пуще смерти боявшегося тебя и меня, нас, обнявшихся бестий, приняла в свое лоно праведная, непорочная станция зари.
										br
										| Лишь сизый почтовый голубь смятой газеты, весь в перышках фиолетовых линий, зигзагов, крестиков и кружков, остался лежать на непомерно длинном белом столе.

						.swiper-slide
							.row.block_8_flex
								.lg-3.flex__img
									img.flex__img_user(src="img/img_user.png" alt="")
									p.flex__user Михаил Потапович
										span.flex__user_time 12.10.2017
								.lg-7.flex__context
									p Прохлада и чистота утреннего пустого купе, голые полки, блестящий пластик вагонных стен — и никого. Ночного монаха, четками петита, нонпарелью молитвы отгонявшего дьявольский образ греха, пуще смерти боявшегося тебя и меня, нас, обнявшихся бестий, приняла в свое лоно праведная, непорочная станция зари.
										br
										| Лишь сизый почтовый голубь смятой газеты, весь в перышках фиолетовых линий, зигзагов, крестиков и кружков, остался лежать на непомерно длинном белом столе.

						.swiper-slide
							.row.block_8_flex
								.lg-3.flex__img
									img.flex__img_user(src="img/img_user.png" alt="")
									p.flex__user Михаил Потапович
										span.flex__user_time 12.10.2017
								.lg-7.flex__context
									p Прохлада и чистота утреннего пустого купе, голые полки, блестящий пластик вагонных стен — и никого. Ночного монаха, четками петита, нонпарелью молитвы отгонявшего дьявольский образ греха, пуще смерти боявшегося тебя и меня, нас, обнявшихся бестий, приняла в свое лоно праведная, непорочная станция зари.
										br
										| Лишь сизый почтовый голубь смятой газеты, весь в перышках фиолетовых линий, зигзагов, крестиков и кружков, остался лежать на непомерно длинном белом столе.

						.swiper-slide
							.row.block_8_flex
								.lg-3.flex__img
									img.flex__img_user(src="img/img_user.png" alt="")
									p.flex__user Михаил Потапович
										span.flex__user_time 12.10.2017
								.lg-7.flex__context
									p Прохлада и чистота утреннего пустого купе, голые полки, блестящий пластик вагонных стен — и никого. Ночного монаха, четками петита, нонпарелью молитвы отгонявшего дьявольский образ греха, пуще смерти боявшегося тебя и меня, нас, обнявшихся бестий, приняла в свое лоно праведная, непорочная станция зари.
										br
										| Лишь сизый почтовый голубь смятой газеты, весь в перышках фиолетовых линий, зигзагов, крестиков и кружков, остался лежать на непомерно длинном белом столе.

						.swiper-slide
							.row.block_8_flex
								.lg-3.flex__img
									img.flex__img_user(src="img/img_user.png" alt="")
									p.flex__user Михаил Потапович
										span.flex__user_time 12.10.2017
								.lg-7.flex__context
									p Прохлада и чистота утреннего пустого купе, голые полки, блестящий пластик вагонных стен — и никого. Ночного монаха, четками петита, нонпарелью молитвы отгонявшего дьявольский образ греха, пуще смерти боявшегося тебя и меня, нас, обнявшихся бестий, приняла в свое лоно праведная, непорочная станция зари.
										br
										| Лишь сизый почтовый голубь смятой газеты, весь в перышках фиолетовых линий, зигзагов, крестиков и кружков, остался лежать на непомерно длинном белом столе.

						.swiper-slide
							.row.block_8_flex
								.lg-3.flex__img
									img.flex__img_user(src="img/img_user.png" alt="")
									p.flex__user Михаил Потапович
										span.flex__user_time 12.10.2017
								.lg-7.flex__context
									p Прохлада и чистота утреннего пустого купе, голые полки, блестящий пластик вагонных стен — и никого. Ночного монаха, четками петита, нонпарелью молитвы отгонявшего дьявольский образ греха, пуще смерти боявшегося тебя и меня, нас, обнявшихся бестий, приняла в свое лоно праведная, непорочная станция зари.
										br
										| Лишь сизый почтовый голубь смятой газеты, весь в перышках фиолетовых линий, зигзагов, крестиков и кружков, остался лежать на непомерно длинном белом столе.
					.swiper-button-next
						i.my__fonts.right
					.swiper-button-prev
						i.my__fonts.left