
#menu
	.menu
		.container
			+menu('menu__block','top__menu__item','top__menu__link ancLinks','Главная','Что такое LANDING PAGE','Как мы РАБОТАЕМ?','ПОРТФОЛИО','Стоимость услуг','Отзывы','КОНТАКТЫ')
#block-1.block_02
	.container.block_02__box
		.block__descript
			h3.block__descript__title
				span.block__descript__title__top  Что такое
				span.block__descript__title__botton LANDING PAGE?
		.row.block_02__box__content
			.lg-12.block_02__box__content__text
				p Лендинг - это не простой сайт, а инструмент для продаж! Хороший лендинг предельно простой
					br 
					| снаружи, но сложный внутри. Он объединяет в себе наиболее эффективные и актуальные решения
					br 
					| в интернет-маркетинге, дизайне, копирайтинге, программировании, SEO и смежных областях.
			.row.block_02__box__content__box
				.lg-4.block_02__box__content__box__item
					.block_02__box__content__box__item__images
						i.my__fonts.icon_1
					p Быстро и эффективно 
						br 
						| привлечь клиентов
						br 
						| в свой бизнес

				.lg-4.block_02__box__content__box__item
					.block_02__box__content__box__item__images
						i.my__fonts.icon_2
					p Выделить один из сегментов 
						br
						| своего бизнеса 
						br 
						| и улучшить его

				.lg-4.block_02__box__content__box__item
					.block_02__box__content__box__item__images
						i.my__fonts.icon_3
					p Поднять уровень продаж 
						br
						| в интернете