/*!
 * Fonts
 */

/*!
 * My-Fonts
 */
@font-face
	font-family: "LP12";
	src: url("../fonts/LP12/fonts.eot"); 
	src: url("../fonts/LP12/fonts.eot?#iefix") format("embedded-opentype"),
	url("../fonts/LP12/fonts.otf") format("opentype"), 
	url("../fonts/LP12/fonts.svg") format("svg"), 
	url("../fonts/LP12/fonts.ttf") format("truetype"), 
	url("../fonts/LP12/fonts.woff") format("woff"), 
	url("../fonts/LP12/fonts.woff2") format("woff2"); 
	font-weight: normal;
	font-style: normal;
.my__fonts
	font-family: "LP12";
	display: block;
	font-style: normal;
	color: red;
	font-size: 120px;
	&.icon_1:before
		content: "c";
	&.icon_2:before
		content: "a";
	&.icon_3:before 
		content: "b";
	&.mouse:before 
		content: "m";
		color: #646464;
	&.pochemy_mu_analiz:before 
		content: "d";
	&.pochemy_mu_prototip:before
		content: "f";
	&.pochemy_mu_adaptive:before
		content: "g";
	&.pochemy_mu_reclama:before
		content: "e";
	&.pochemy_mu_dizayn:before
		content: "h";
	&.pochemy_mu_seo:before
		content: "i";
	&.left:before
		content: "j";
	&.right:before
		content: "k";
