/*!
 * RESET STYlE
 */
*,
*:before,
*:after
    box-sizing: inherit;
*
  margin: 0;
  padding: 0;
html
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
  font-weight: normal;
  box-sizing: border-box;
html, 
body
  padding: 0;
  margin: 0;
article,
aside,
footer,
header,
nav,
hgroup,
section
  display: block;
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
pre, 
blockquote, 
form, 
ul, 
ol, 
dl
  margin: 20px 0;  
  font-weight: normal;
  font-size: 100%;
:focus
  outline: 0;
img
  vertical-align: middle;
  height: auto;
  max-width: 100%;
  border: 0;
ol,
ul
  list-style: none;