/*!
 * GRID
 */
.container
    margin: 0 auto;
    width: 1140px;
.row
    margin-left: -15px;
    margin-right: -15px;
    &:after
        content: "";
        display: table;
        clear: both;
.lg-1 {width: 8.33%;}
.lg-2 {width: 16.66%;}
.lg-3 {width: 25%;}
.lg-4 {width: 33.33%;}
.lg-5 {width: 41.66%;}
.lg-6 {width: 50%;}
.lg-7 {width: 58.33%;}
.lg-8 {width: 66.66%;}
.lg-9 {width: 75%;}
.lg-10 {width: 83.33%;}
.lg-11 {width: 91.66%;}
.lg-12 {width: 100%;}
[class*="lg-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    min-height: 1px;
}