/*
 * block_03
 */
.block__descript.block_03__box__container
	margin-bottom: 5em;
.block_03__box__container__title 
	display: block;
	span
		padding: 0;
	.block__descript__title__top
		left: -3px;
		top: -3px;
		height: 24px;
		color: #de1e11;
		padding-right: 11px;
		background #000
	.block__descript__title__botton
		top: 41px;
		left: 24px;
		display: table;
		padding: 10px;
		color: #fff;
		background #000
.block_03__box__container__descript
	p
		font-size: 18.482px;
		color: rgb(255, 255, 255);
		line-height: 1.2;
		text-align: left;
	span
		font-size: 13.661px;
		color: rgb(255, 255, 255);
		line-height: 1.2;
		text-align: left;
.block_03__box__container__item__icon 
	i
		font-size: 90px;
.block_03
	background: url(../img/black_3.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 10em;
	padding-bottom: 10em;
	background-position: 100% 100%;
.block_03__container
	padding-top: 6em;
	padding-bottom: 7em;
	margin-top: 5em;
	margin-bottom: 9em;
	background: url(../img/black_fon-1.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;