/*
 * block_05
 */
.block_05__descript
	width: 420px;
.descript__title_top
	color: #de1e11;
.descript__title_botton
	color: #000;
.container__botton
	.botton__red
		margin: 0 auto;
		display: block;	
		width: 219px;
		height: 56px;
.container__descript
	font-size: 45px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.246;
	text-align: center;
.block_05__container
	background: url(../img/black5_fon-2.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 6em;
	padding-bottom: 8em
.block_05
	background: url(../img/fon-2.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 4em;
	padding-bottom: 12em;
.img__apaptive
	display block
	margin 0 auto
.block_05__container_img
	margin-top: 3em;
	margin-bottom: 4em;
