/*
 * block_06
 */
.block_06_descript
	width: 380px;
	height: 80px;
.block_06_top
	font-size: 30.681px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	line-height: 0.444;
.descript__botton
	width: 190px;
	height: 45px;
.descript__title
	border-radius: 3px;
	background-color: rgb(255, 0, 0);
	width: 100%;
	height: 98px;
	font-size: 37px;
	color: #fff;
	font-weight: 700;
	text-align: center;
	padding-top: 0.6em;
	margin: 0;
	transition: .3s linear;
.price__descript
	background: #e2e2e2;
	padding 0
	margin-left 15px
	margin-right 15px
	height: 570px;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	width 360px
	border: 1px solid;
	border-color: rgba(226, 226, 226, 0);
	transition: .3s linear;
	&.price__active
		border-color: #de1e11;
		.descript__title
			border-radius 3px 0 3px 0
.descript__botton
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3em;
	border-radius: 3px;
	.item__botton_textColor
		font-size: 24px;
		color: #de1e11;
		line-height: 1.3;
.price__box
	display: flex;
	justify-content: center;
	margin-top: 5em;
.block__6_price
	width: 1010px;
	height: 730px;
	background url('../img/back- triangle.png')
	display: flex;
	flex-direction: column;
	background-repeat: no-repeat;
.block__6_flex
	display: flex;
	justify-content: center;
.block_06__box
	position: relative;
	top: -77px;
	margin-bottom: -41px;
.descript__item
	font-size: 18.48px;
	color: #000;
	line-height: 1.4;
	display: flex;
	flex-direction: column;
	width: calc(100% - 30px);
	margin-left: 20px;
.descript__price_text
	margin-bottom: 3px;
	&:before
		content: '- '

