/*
 * block_07
 */
.block_07
	margin-top: 4em; 
.block_7__title
	span,
	.descript__title_botton
		font-weight: 700;
.block_07__descript
	width: 385px;
	height 90px
	.block__descript__title__top
		left: -21px;
.block_7__container
	text-align: center;
	width: 1190px;
.border__title
	font-size: 18px;
	color: rgb(255, 0, 0);
	line-height: 1.2;
.border__list_text
	font-size: 18px;
	color: rgb(255, 255, 255);
	line-height: 1.444;
	transition: .3s linear;
.block__7_item
	border-width: 2px;
	border-color: rgb(0, 0, 8);
	border-style: solid;
	border-radius: 3px;
	background-color: rgb(0, 0, 0);
	width: 310px;
	height: 240px
	margin: 38px;
	padding: 1em;
	cursor: pointer;
	transition: .3s linear;
	z-index: 3;
	&:hover
		border-color: #de1e11;
		background-color: #fff;
		.border__list_text
			color #000;
.item__border.border
	border-width: 2px;
	border-color: #de1e11;
	border-style: solid;
	border-radius: 3px;
	width: 100%;
	height: 100%;
	transition: .3s linear;
	display: flex;
	flex-direction column
.block__7_flex
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
.border__list
	margin-top: auto;