/*
 * footer
 */
footer
	background: url(../img/footer.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-bottom: 4em;
	padding-top: 8em
	margin-top: -9em;
.block_08
	background: url(../img/footer-2.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 6em;
	padding-bottom: 1em;
.block_8_top
	font-weight: 700;
.swiper-container
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
.swiper-slide
	text-align: center;
	font-size: 18px;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;	
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	cursor: move;
.flex__context
	p
		font-size: 14.464px;
		color: rgb(255, 255, 255);
		font-style: italic;
		line-height: 1.444;
		text-align: left;
		height: 119px;
.block_8__flex_box
	display: flex;
	justify-content: center;
	margin-bottom: 2em;
.swiper-button-prev,
.swiper-button-next
	background: none;
	right: 30px;
	top: 35%;
	.my__fonts
		font-size 70px
.block_8_flex
	display: flex;
	justify-content: space-around;
.flex__img
	padding-right: 0;
	margin-left: auto;
.flex__context
	padding-left: 0;
	margin-right: auto;
.flex__user
	font-size: 14.464px;
	color: rgb(255, 255, 255);
	line-height: 1.444;
	text-align: center;
.flex__user_time
	display: block;
	color: #666666;
.block_8_container
	width: 430px;
.form
	.invalid
		color: #fff
		background-color red
		&::-webkit-input-placeholder
			color: #fff;
	.valid
		color: #fff
		background-color lightgreen
		&::-webkit-input-placeholder
			color: #fff;
#overlay
	z-index: 110;
	position: fixed;
	background-color: #000;
	opacity: 0.8;
	-moz-opacity: 0.8;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
#modal_form
	position: fixed;
	top: 45%;
	left: 50%;
	margin-top: -150px;
	margin-left: -240px;
	display: none;
	opacity: 0;
	z-index: 115;
	padding: 20px 10px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(203, 203, 203);
	border-radius: 3px;
	background-color: rgb(229, 229, 229);
	width: 473px;
	height: 379px;
	h3
		font-size: 30px;
		color: rgb(55, 60, 78);
		line-height: 0.767;
		text-align: center;
#modal_close
	text-align: right;
	margin-right: 2em;
	span
		font-size: 30px;
		color: #abaaaa;
		cursor: pointer;
		position: absolute;