include mixin/mixins
doctype html
html(lang='ru')

	include block/head

	body#block-0
		include block/header
		main
			section#wrapper
				include block/block_02
				include block/block_03
				include block/block_04
				include block/block_05
				include block/block_06
				include block/block_07

		include block/footer
		include block/script